.thumbnailWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.thumbnail {
  max-width: 14rem;
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin: 0 auto;
  border: 0.25rem solid #fff;
}

@media (max-width: 768px) {
  .thumbnailWrapper {
    margin-bottom: 4rem;
  }
}
